#register-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 50px 0px;
    width: 100%;
}
h2.register-title{
    text-align: center;
    font-size: 24px;
    padding: 10px 0px;
}
.register-container form{
    padding: 16px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    background: #fff;
    width: 400px;
    margin-bottom: 12px;
}
h3{
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}
.register-box{
    position: relative;
    margin: 12px 0px;
}
.register-box select{
    width: 100%;
    padding: 8px 4px
}
.register-box-title{
    position: absolute;
    top: -10px;
    left: 4px;
    background: #fff;
}
.register-box input{
    width: 100%;
    padding: 8px 4px;
    font-weight: 500;
}
.tooltip{
    right: -124px;
    width: 120px;
    background: none;
    color: red;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 4px;
    transition: opacity 0.3s;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    height: auto;
    box-shadow: 0 0 5px #ccc;
}
.tooltip::after{
    content: "";
    position: absolute;
    top: 42%;
    left: 0;
    margin-left: -10px;
    transform: rotate(90deg);
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
#register-btn{
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    border: none;
    outline: none;
    background: cornflowerblue;
    color: #fff;
}
.register-nav span{
    margin: unset;
}
.register-nav span a{
    color: red;
    font-weight: bold;
}
#strong-pass{
    display: block;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .4s ease-in;
    height: 4px;
    border-radius: 12px;
}
.show-pass{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    cursor: pointer;
}
/* Mobile */
@media screen and (max-width: 599px) {
    #register-page{
        display: block;
        margin: 112px 0px;
        padding: 0px 12px;
    }
    .custom-container a span{
        display: block;
        padding: 12px;
    }
    .register-container form{
        width: 100%;
    }
    .register-nav{
        display: grid;
    }
    .tooltip{
        display: none;
    }
}
/* Tablet */
/* KHÔNG CẦN CHỈNH */